<template>
    <div class="text">
        <h1>Composition API</h1>
        <h2>{{ greatingmsg }} {{ greatinguser }}</h2>
    </div>
</template>

<script>
import { ref } from 'vue'

export default {
    setup () {
        const greating = ref({msg:'Hello',user:'Phalakorn PK'})
        setTimeout(() => {
            greating.value.msg = 'Hi ',
            greating.value.user = 'CH'
        }, 3000)
        return {
            greatingmsg: greating.value.msg,
            greatinguser: greating.value.user,
        }
    },
    
}
</script>

<style  scoped>
.text{
    text-align: center;
}
</style>
